/* CSS Reset */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font: inherit;
}

.img {
	max-width: 100%;
	height: auto;
	object-fit: cover;
	display: block;
}

ul {
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
}

/* Variables */

:root {
	--color-bg: #ffffff;
	--color-fg: #dfdddd;
	--color-btn: #f9fafb;
	--color-input: #ffffff;
	--color-btn-text: #374151;
	--color-input-text: #6b7280;

	--clr-neutral-100: #ffffff;
	--clr-neutral-200: #e5e7eb;
	--clr-neutral-300: #dfdddd;
	--clr-neutral-600: #6b7280;
	--clr-neutral-800: #111827;
	--clr-neutral-900: #000000;
	--clr-neutral-black: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-bg: #121212;
		--color-fg: #2e2e2f;
		--color-btn: #4b4b4b;
		--color-input: #2e2e2f;
		--color-btn-text: #ffffff;
		--color-input-text: #a5a5a5;

		--clr-neutral-900: #ffffff;
		--clr-neutral-800: #ffffff;
		--clr-neutral-600: #a5a5a5;
		--clr-neutral-300: #787878;
		--clr-neutral-200: #2c2c2c;
	}
}

/* General Styles */

html {
	background-color: var(--clr-neutral-black);
}

body {
	display: grid;
	place-items: center;
	min-height: 100vh;
	font-family: 'Inter', sans-serif;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.5;
}

.wrapper {
	width: min(100% - 2rem, 550px);
}

header {
	background-image: linear-gradient(
			to right,
			rgba(0, 0, 0, 0.75),
			rgba(0, 0, 0, 0.75)
		),
		url('images/andre-tan-unsplash.jpg');
	background-repeat: no-repeat;
	background-position: top 25% right 0%;
	background-size: cover;
	color: var(--clr-neutral-100);
	padding: 5rem 2.625rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: 700;
}

h1 {
	font-size: 2.75rem;
	line-height: 1.1;
	text-wrap: balance;
}

a {
	color: var(--clr-neutral-100);
	text-transform: capitalize;
}

.form-control {
	display: flex;
	justify-content: center;
	position: relative;
}

form {
	margin-top: calc(-39px / 2);
	margin-inline: auto;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: min(90%, 460px);
}

.input-wrapper {
	width: 100%;
	position: relative;
}

.input-wrapper .icon-btn {
	background-color: transparent;
	border: transparent;
	aspect-ratio: 1/1;
	height: 80%;
	position: absolute;
	top: 10%;
	left: 0;
}

.icon-btn svg {
	height: 2rem;
	stroke: var(--color-input-text);
}

.input-wrapper input {
	padding: 0.5rem 1.5rem 0.5rem 2.5rem;
	background-color: var(--color-input);
	color: var(--color-input-text);
	border-top-left-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
	border: 1px solid var(--color-fg);
	width: 100%;
}

form .search-btn {
	background-color: var(--color-btn);
	color: var(--color-btn-text);
	border: 1px solid var(--color-fg);
	padding: 0.5rem 1.5rem;
	border-top-right-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
}

main {
	background-color: var(--color-bg);
	min-height: calc(100vh - 208px);
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Initial State */
.initial-state,
.no-data-state {
	text-align: center;
	color: var(--color-fg);
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.initial-state {
	display: flex;
	display: none;
}

.initial-state svg {
	width: 70px;
	height: auto;
	stroke: var(--color-fg);
}

.initial-state p,
.no-data-state p {
	font-size: 1.125rem;
	font-weight: 700;
}

p + a.btn {
	margin-top: 0.5rem;
}

.initial-state .btn {
	display: flex;
	align-items: center;
	gap: 0.25rem;
	background-color: transparent;
	border: transparent;
	color: var(--clr-neutral-800);
}

.initial-state .btn svg {
	width: 1.5rem;
	height: 1.5rem;
	stroke: var(--clr-neutral-800);
}

.no-data-state {
	/* display: flex; */
	width: 35ch;
	color: var(--clr-neutral-300);
	display: none;
}

/* Populated State */

.populated-state {
	padding-top: 2.5rem;
	align-self: start;
	display: block;
	/* display: none; */
}

.populated-list {
	padding-inline: 2.625rem;
	color: var(--clr-neutral-800);
}

.movie-item {
	display: grid;
	grid-template-columns: 100px auto;
	gap: 1.3125rem;
	padding-bottom: 1rem;
}

.movie-item + .movie-item {
	border-top: 1px solid var(--clr-neutral-200);
	padding-top: 1rem;
}

.movie-details {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	gap: 0.5rem;
}

.movie-details__title {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.movie-details__title h4 {
	color: var(--clr-neutral-900);
	font-weight: 500;
	font-size: 1.125rem;
}

.movie-score {
	display: flex;
	align-items: start;
	justify-content: center;
	gap: 0.2rem;
}

.movie-score svg {
	stroke: #fec654;
	fill: #fec654;
	width: 1rem;
	height: 1rem;
	display: flex;
}

.movie-score,
.movie-details__additional {
	font-size: 0.75rem;
}

.movie-details__additional {
	display: grid;
	grid-template-columns: minmax(50px, auto) minmax(130px, auto) 1fr;
	gap: 0.5rem;
	height: 20px;
}

.movie-details__additional span,
.movie-details__additional .btn {
	align-self: center;
}

.movie-details__summary {
	color: var(--clr-neutral-600);
}

/* Buttons */
.btn {
	cursor: pointer;
}

.btn.add-to-watchlist {
	background-color: transparent;
	border: transparent;
	display: flex;
	align-items: center;
	padding: unset;
	color: var(--clr-neutral-900);
	gap: 0.25rem;
}

.icon-tabler-circle-plus {
	width: 1.25rem;
	height: 1.25rem;
	display: flex;
	stroke: var(--clr-neutral-900);
}
